<div>
    <h1>Burger App!</h1>
    <hr>
    <h4>Not Devoured</h4>
    {{#each burgers}}
        <div>
            {{#unless devoured}}
                <p>Burger: {{this.burger_name}}</p>
                <button data-id={{this.id}} class="complete">Devour</button>              
                <hr>
            {{/unless}}
        </div>
    {{/each}}

<hr>
    <h4>Devoured</h4>
       {{#each burgers}}
        <div>

            {{#if devoured}}
                <p>{{this.burger_name}}</p>
                <button data-id={{this.id}} class="delete">delete</button>              
                <hr>
            {{/if}}
        </div>
    {{/each}}
    <hr>
    <h4>Add a Burger</h4>
    <input type="text" id="burger_name">
    <button id ="addBurger">Add Burger</button>
</div>
 


